*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
background:#000;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
overflow-x:hidden;
}

section{
padding:110px 20px;
position:relative;
overflow:hidden;
}

.container{
max-width:1100px;
margin:auto;
}

.section-title{
text-align:center;
font-size:13px;
letter-spacing:4px;
color:#666;
margin-bottom:60px;
}

h1,h2,h3{
letter-spacing:1px;
}

/* HERO */
.hero{
text-align:center;
padding-top:120px;
}

.hero h1{
font-size:58px;
margin-bottom:20px;
}

.hero p{
color:#aaa;
max-width:650px;
margin:auto;
line-height:1.9;
font-size:17px;
}

/* VIDEOS */
.video-grid{
display:grid;
grid-template-columns:1fr;
gap:30px;
}

@media(min-width:900px){
.video-grid{
grid-template-columns:repeat(3,1fr);
}
}

.video-box{
border:1px solid #222;
border-radius:20px;
overflow:hidden;
transition:0.4s ease;
}

.video-box:hover{
transform:translateY(-8px);
border-color:#555;
}

.video-box iframe{
width:100%;
height:400px;
border:none;
}

/* LAPTOP */
.laptop-section{
text-align:center;
}

.laptop-img{
width:100%;
max-width:1000px;
border-radius:25px;
border:1px solid #222;
display:block;
margin:auto 0 50px;
transition:transform 0.3s ease;
position:relative;
}

.laptop-text{
max-width:750px;
margin:50px auto 0;
color:#aaa;
line-height:2;
}

/* SERVICES */
.grid{
display:grid;
grid-template-columns:1fr;
gap:40px;
}

@media(min-width:900px){
.grid{
grid-template-columns:1fr 1fr;
}
}

.card{
border:1px solid #222;
padding:55px;
border-radius:20px;
transition:0.4s;
}

.card:hover{
border-color:#555;
transform:translateY(-6px);
}

.card h3{
margin-bottom:25px;
font-size:22px;
}

.card ul{
list-style:none;
color:#aaa;
line-height:2;
}

/* CONTACT */
.contact-center{
text-align:center;
margin-top:60px;
}

.contact-center p{
margin:8px 0;
color:#aaa;
}

.whatsapp-btn{
display:inline-block;
margin-top:25px;
padding:16px 45px;
border:1px solid #fff;
border-radius:50px;
color:#fff;
text-decoration:none;
transition:0.3s;
}

.whatsapp-btn:hover{
background:#fff;
color:#000;
}

/* FADE */
.fade{
opacity:0;
transform:translateY(40px);
transition:all 1s ease;
}

.fade.show{
opacity:1;
transform:translateY(0);
}

footer{
text-align:center;
padding:50px;
color:#555;
font-size:14px;
}